@media only screen and (min-width:300px){
    .footer{
        text-align: center;
        a{
            text-decoration: none;
            color: $soft_red;
        }
    }
}


@media only screen and (min-width:1024px){
    .footer{
        text-align: left;
    }
}