@media only screen and (min-width:300px){
    .image_container{
        &__desktop{
            display: none;
        }
    }
}

@media only screen and (min-width:1024px){
    .image_container{
        &__desktop{
            display: block;
        }
        &__mobile{
            display: none;
        }
    }
}